LINEAR_API_KEY=lin_api_...
SYMPHONY_RYO_LINEAR_TOKEN=lin_api_...
SYMPHONY_RYO_LINEAR_PROJECT=Symphony
SYMPHONY_RYO_LINEAR_TEAM=LAB
SYMPHONY_RYO_TARGET_REPO=yakisoba666rasb-star/symphony
SYMPHONY_REPOSITORY_CLONE_URL=https://github.com/yakisoba666rasb-star/symphony.git
PATH=/home/ryo/.npm-global/bin:/home/ryo/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
